/* Academic template: serif, 12pt, proper margins, justified text, indented paragraphs. */

body {
    font-family: "Times New Roman", Times, "Noto Serif", Georgia, serif;
    font-size: 12pt;
    line-height: 2;
    color: #000;
    background-color: #fff;
    max-width: 6.5in;
    margin: 1in auto;
    padding: 0 1em;
    text-align: justify;
    hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Times New Roman", Times, "Noto Serif", Georgia, serif;
    color: #000;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}

h2 { font-size: 1.3em; }
h3 { font-size: 1.15em; font-style: italic; }

p {
    margin-top: 0;
    margin-bottom: 0;
    text-indent: 2em;
}

/* First paragraph after heading: no indent */
h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    text-indent: 0;
}

a {
    color: #000;
    text-decoration: underline;
}

blockquote {
    margin: 1em 2em;
    font-size: 0.95em;
}

blockquote p {
    text-indent: 0;
}

pre, code {
    font-family: "Courier New", Courier, monospace;
    font-size: 0.9em;
}

pre {
    margin: 1em 2em;
    padding: 0.5em;
    border: 1px solid #ccc;
    overflow-x: auto;
}

code {
    padding: 0.1em 0.2em;
}

pre code {
    padding: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
    font-size: 0.95em;
}

th, td {
    border: 1px solid #000;
    padding: 0.4em 0.6em;
    text-align: left;
}

th {
    font-weight: bold;
}

caption {
    font-style: italic;
    margin-bottom: 0.5em;
    text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #000;
    margin: 2em 4em;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
}

/* Footnotes */
.footnotes {
    font-size: 0.9em;
    border-top: 1px solid #000;
    margin-top: 2em;
    padding-top: 0.5em;
}

.footnotes p {
    text-indent: 0;
    margin-bottom: 0.3em;
}
